 /* set everything to 0*/
*{
  margin:0;
  padding:0;
}
 /* font  and backgorund colour*/
body{
  font: 15px/1.5 Arial,Helvetica,sans-serif;
  padding:0;
  margin:0 auto;
  background-color: white;

/* gap from left side off the website*/
}
.wrapper{
  margin:auto ;
  width: 95%;
}
/* Logo*/
.AstonLogoHeader{
  width: 300px;
  float:left;
  margin-top: 25px;
}
/* Header*/
header{
  background:white;
  border-bottom:purple 3px solid;
}

header::after {
  content: '';
  display: table;
  clear: both;
}
/* Navigation*/
nav {
  float: right;
  margin-top: 25px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color:purple;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color:purple
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color:purple;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
/* Navigation*/
/* footer*/
footer{
  width: 98%;
  padding: 20px;
  color:white;
  background-color:purple;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


#Welcome .banner {
  background-color: purple; /* Background color for the banner */
}


#Welcome .wrapper{
  text-align: center;
  padding: 5px;
}

/* Welcome Text- font and colour*/
#Welcome h1{
  font-size: 36px;
  color:white;
  margin-bottom: 10px;
}

#Welcome h2{
  font-size: 16px;
  font-weight: bolder;
  color:white;
  margin-bottom: 10px;
}


/* Login and signup form*/

.SignUpBox,
.LoginBox{
  width: 450px;
  margin: 30px auto;
}



.SignUp,
.Login
{
  width: 100%;
  background: white;
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 40px;
  color: purple;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}

.SignUp-form
{
  background:white;
  padding: 40px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  height: 500px;
 
}

.Login-form{
  background:white;
  padding: 40px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  height: 300px;
 
}
.Login-form input{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  color: #3e3e40;
  font-size: 14px;
  outline: none;
  transition: all 0.5s ease;

}

.SignUp-form input
{
  flex: 1; 
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #e9eaea;
  color: #3e3e40;
  font-size: 14px;
  outline: none;
  transition: all 0.5s ease;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.asterisk {
  margin-left: 5px; 
  color: red;
  font-size: 25px;
}


.input:focus{
  border: 2px solid purple;
}


button{
  width: 100%;
  background: purple;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 30px;
}

span a{
  text-decoration: none;
  float:center;
  color: purple;
  font-weight: bold;
  text-align: center;
  font-size: 16px
}
/* Login and signup form*/
/* error messages in red.*/

.errormessage{
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 18px

}

html, body {
  height: 100%;
}


#map {
  height:80%;
  width: 100%;
}


#searchinput {
  margin-top: 5px;
  width: 80%; 
  max-width: 400px; 
  padding: 10px;
  font-size: 16px;
}



.container {
  display: flex;
  justify-content: center;
}


.left-section {
  width: 40%;
  margin-right: 20px;
}

.left-section .image-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.left-section img {
  width: 90%;
}

.right-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

.right-section h1 {
  margin-left: 20%;
  text-align: left;
  display: block;
}

.info-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start;
}

.price,
.openingtime,
.walking-distance {
  margin: 30px; 
}

.price img,
.openingtime img,
.walking-distance img {
  width: 40px;
  margin-right: 10px;
}

.info-value-wrapper {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px 20px;
}

.info-content {
  display: flex;
  flex-direction: column;
}

.info-value {
  font-weight: bold;
  color: #b114c0;
}

.info-description {
  color: #757575;
}

.description
 {
  margin-top: 30px;
}

.description h2 {
  font-weight: bold;
  color: black;
}

.description p {
  line-height: 1;
  margin-top: 10px;
  color: #757575;
}

.rating-section {
  margin-top: 30px;
}

.rating-section h4{
  font-size: 20px;
  font-weight: bold;
  color: black;
}


.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stars {
  color: gold;
  font-size: 20px;
}

.rating-info {
  margin-left: 10px;
}

.average-rating {
  font-weight: bold;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.review {
  margin-bottom: 20px;
}
.reviewer-name {
  font-weight: bold;
  margin-right: 10px;
}

.review-date {
  color: grey;
}

.review-rating {
  color: gold;
  margin-bottom: 5px;
}
.review-info {
  display: flex;
  align-items: center;
}

.book-button{
  width: 350px;
  background: purple;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 1000px;
}
